<h1 class="my-3 text-primary">
  Listar Produtos
  <button class="btn btn-success mt-2 float-right">Cadastrar</button>
</h1>

<div class="card shadow">
  <table class="table table-responsive table striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Validade</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th>Cuso de Angular</th>
        <th>31/12/2021</th>
        <th>R$ 500,00</th>
        <th>
          <button class="btn btn-warning">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-warning">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </th>
      </tr>
    </tbody>
  </table>

</div>
