<h1>Teste Bootstrap<span class="badge bg-secondary">;-)</span></h1>

<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="../assets/img/logo_horacio.png" />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <img src="../assets/img/crud.png" />
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
